li {
    font-size: 20px;
    background-color: yellow;
    cursor: pointer;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}

.checked {

    background-color: rgb(92, 218, 34);
}


#removeButton {
    margin-left: 25px;
}